html {
  font-family: 'Lato', sans-serif; 
}

body {
  margin: 0;
}

$main: #00ff00;
main {
  background: #ff7777;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
menu {
  margin: 0;
  padding: 0;
  input[type=checkbox] {
    display: none;
    &:checked {
      
      & ~ hamburger {
        > i {
          background-color: #0f0;
          transform: rotate(90deg);
          &:before {
            transform: translate(-50%, -50%) rotate(315deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-315deg);
          }
        }
        
        close {
          color: rgba(0,0,0,.75);
          width: 100%;
        }
        open {
          color: rgba(0,0,0,0);
          width: 0;
        }
      }
    }
  }
  
  hamburger {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    &:hover {
      cursor: pointer;
    }
    text {
      close,
      open {
        text-transform: uppercase;
        font-size: .8em;
        align-text: center;
        position: absolute;
        transform: translateY(50px);
        text-align: center;
        overflow: hidden;
        transition: width .25s .35s, color .45s .35s;
      }
      close {
        color: rgba(0, 0, 0, 0);
        right: 0;
        width: 0;
        
      }
      open {
        color: rgba(0, 0, 0, .75);
        width: 100%;
      }
    }
    > i {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      background-color: rgba(0, 0, 0, .75);
      pointer-events: auto;
      transition-duration: .35s;
      transition-delay: .35s;
      &:before,
      &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 50%;
        background: rgba(0, 0, 0, .75);
        content: "";
        transition: transform 0.35s;
        transform-origin: 50% 50%;
      }
      &:before {
        transform: translate(-50%, -14px);
      }
      &:after {
        transform: translate(-50%, 14px);
      }
    }
  }
}